@import '../utilities/mixin';

.pagination{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    filter: drop-shadow(1px 1px 3px #000);

    button{
        height: 40px;
        width: 40px;
        border: none;
        line-height: 50px;
        background-color: $second-color;
        cursor: pointer;

        .icon{
            font-size: 1.5rem;
            color: #fff;
        }

        &.prev{
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        &.next{
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        &:hover{
            background-color: $second-color-hover;
        }
    }

    .page{
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-color: $second-color;
        @include roboto-bold(1.3rem,#fff);
    }
}