.home{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .page{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px 15px;
        width: 95%;

        .card-loader{
            max-width: 300px;
            width: 90%;
            min-height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #0001;
            border-radius: 8px;
            background-color: #0001;
        }
    }
}