$colors-types: (
    'bug': (#c5cc5f,#afb833),
    'dark': (#9b9b9a,#8a8987),
    'dragon': (#817aaf,#514794),
    'electric': (#f5f77f,#f8f53b),
    'fairy': (#fccdd9,#f782a1),
    'fighting': (#b17964,#be603e),
    'fire': (#f8b36a,#f8913c),
    'flying': (#ada8c9,#7465c4),
    'ghost': (#b3b3b3,#ececec),
    'grass': (#a7f879,#73eb2e),
    'ground': (#af9575,#80613b),
    'ice': (#c8e6df,#83f3db),
    'normal': (#c3d1d8,#92b0be),
    'poison': (#ca4dfc,#a429d4),
    'psychic': (#b8b070,#92882e),
    'rock': (#ccc1a1,#918974),
    'shadow': (#725094,#5d00b4),
    'steel': (#c9c8c7,#8d8d8d),
    'water': (#8cc4e2,#52b8f0),
);

$header-footer-color: #e34043;
$second-color:#2b89e7;
$second-color-hover:#73aee9;