@import './styles/utilities/mixin';

.app{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;

    .main{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        min-height: calc(100vh - 30px);
    }

    .footer{
        background-color: $header-footer-color;
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;
        color: #fff;
        a{
            color:#fff;
            font-weight: bolder;

            &:hover{
                color:$second-color;
            }
        }
    }
}